{% extends 'base.html' %}

{% block content %}
<!-- Bootstrap Jumbotronを使用して、より現代的なデザインにする -->
<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <h1 class="display-4">Welcome to Visitify!</h1>
        <p class="lead">Experience the world with ease.</p>
        <!-- サインインボタンを追加 -->
        <a href="{% url 'login' %}" class="btn btn-primary btn-lg mr-2">Sign in</a>
        <!-- サインアップボタンを追加 -->
        <a href="{% url 'signup' %}" class="btn btn-success btn-lg">Sign up</a>
    </div>
</div>
{% endblock %}
